@import "../vendor/normalize-scss/normalize";

* {
  box-sizing: border-box;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: Monaco, "DejaVu Sans Mono", "Courier New", monospace;
  color: #00ff31;
  background-color: #333;
}

button:focus {
  outline: 0;
}

h1 {
  display: none;
}

canvas {
  border: 0;
  padding: 0;
  margin: 0;
}

body > .score {
  position: relative;
  width: 300px;
  height: 3em;
  margin: 0 auto;
  padding: 1em 0.5em 0;
  list-style-type: none;
  font-size: 12px;
  text-align: right;

  li {
    display: inline;
  }
  li.current {
    float: left;
  }
  li.high {
    float: right;
  }
}

.monitor {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto 1em;
  font-size: 14px;

  background-color: #000;

  button {
    width: 7em;
    margin: 1em;
  }
}
.panel {
  position: relative;
  width: 300px;
  margin: 1em auto 0;
  font-size: 14px;

  button {
    display: inline-block;
    width: 9em;
    height: 7em;
    border-radius: 3.5em;
    text-align: center;
    background-color: #000000;
    border: 1px solid #00ff31;
    color: #00ff31;
  }
  #left {
    float: left;
  }
  #right {
    float: right;
  }
}

@media (min-width: 640px) {
  body > .score {
    width: 600px;
    font-size: 14px;
  }

  .monitor {
    width: 600px;
    height: 600px;
    font-size: 28px;
  }
  .panel {
    width: 600px;
    font-size: 28px;
  }
}

.monitor > section {
  display: none;

  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;

  h2 {
    margin: 0;
    padding: 0.5em;
  }

  p {
    margin: 1em;
  }

  em {
    font-style: normal;
    text-transform: uppercase;
    text-decoration: underline;
    color: red;
  }

  .buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1em;
  }

  button {
    padding: 0.5em 2em;
    background-color: #000000;
    border: 1px solid #00ff31;
  }
}
.monitor.state-intro > section.intro {display: block;}
.monitor.state-help > section.help {display: block;}
.monitor.state-stage > section.stage {display: block;}
.monitor.state-gameover > section.gameover {display: block;}


.monitor {
  section.intro {
  }
  section.help {

  }
  section.stage {
    h2 {
      display: none;
    }
  }
  section.gameover {

  }

  .highscore {
    margin: 0 3em;
    padding: 0.2em 0.5em 0.2em 2.5em;
    text-align: left;
    border-top: 1px solid #00ff31;
    border-bottom: 1px solid #00ff31;

    li:first-child {
      font-weight: bold;
      color: white;
    }
    li {
      font-size: smaller;
      line-height: 1.1;
    }

    .name {
      display: inline-block;
    }
    .score {
      float: right;
    }
  }
}