{% extends "_base.html" %}

{% block body %}
<ul class="score">
    <li class="current"><span class="value">0</span></li>
    <li class="high"><span class="text">High score: </span><span class="value">500</span> by <span class="name">Anonym</span></li>
</ul>

<div class="monitor state-intro">
    <section class="intro">
        <h2>Snake!</h2>
        <div class="buttons">
            <button id="play_normal">Normal Mode</button>
            <button id="play_hard">Hard Mode</button>
        </div>
    </section>

    <section class="help">
        <h2>How to Play</h2>
        <p>Just don't touch anything but <em>apples</em>, m'kay?</p>
        <div class="buttons">
            <button id="ok">Ok</button>
        </div>
    </section>

    <section class="stage">
        <h2>Stage</h2>
        <canvas id="stage"></canvas>
    </section>

    <section class="gameover">
        <h2>Game Over</h2>
        <div class="buttons">
            <button id="replay_normal">Normal Mode</button>
            <button id="replay_hard">Hard Mode</button>
        </div>
    </section>
</div>

<div class="panel">
    <button id="left">Left</button>
    <button id="right">Right</button>
</div>

<script src="/static/vendor/jquery/dist/jquery.min.js"></script>
<script src="/static/js/main.js"></script>
<script>$(function() {
    main();
});</script>
{% endblock %}
