{% extends "_base.html" %}

{% block body %}
<h1>Snake!</h1>
<div class="monitor state-intro">
    <section class="intro">
        <h2>Snake!</h2>
        <div class="buttons">
            <button id="play">Play</button>
        </div>
    </section>

    <section class="help">
        <h2>How to play</h2>
        <p>Just don't touch anything but apples, m'kay?</p>
        <div class="buttons">
            <button id="ok">Ok</button>
        </div>
    </section>

    <section class="stage">
        <h2>Stage</h2>
        <canvas id="stage"></canvas>
    </section>

    <section class="gameover">
        <h2>Game over</h2>
        <div class="buttons">
            <button id="replay">Replay</button>
        </div>
    </section>
</div>

<script src="/static/vendor/jquery/dist/jquery.min.js"></script>
<script src="/static/js/main.js"></script>
<script>$(function() {
    main();
});</script>
{% endblock %}
